<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Film Kitaplığı Sistemi</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>

	<div class="container my-2">
	<h1>Film Ayrıntısı</h1>
		<table border="1" class = "table table-striped table-responsive-md">
			<thead>
				<tr>
				<th> Film Adı </th>
				<th> Film Yayın Yılı </th>
				<th> Film Türü </th>
				<th> Film Açıklaması </th>
				<th> Film Medyası </th>
				<th> Dili </th>
				<th> Oyuncular </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="filmler : ${listFilmler}">
					<td th:text="${filmler.filmAdi}"></td>
					<td th:text="${filmler.filmYayinYili}"></td>
					<td th:text="${filmler.filmTuru}"></td>
					<td th:text="${filmler.filmAciklama}"></td>
					<td th:text="${filmler.filmMedya}"></td>
					<td th:text="${filmler.filmDili}"></td>
					<td th:text="${filmler.filmOyunculari}"></td>
				</tr>
			</tbody>
		</table>
		<a th:href = "@{/}"> Film Listesine Geri Dön</a>
	</div>
</body>
</html>